body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3E5F5; 
    color: #333; /* Dark Gray */
  }
  
  /* Navbar */
  .navbar {
    background-color: rgb(72, 108, 18) ;/* Dark Purple */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .navbar button {
    background-color: var(--secondary-color); /* Soft Pink */
    color: black; /* Dark Purple */
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .navbar button:hover {
    background-color: #CE93D8; /* Light Pink */
  }
  
  /* Banner */
  .banner1 {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, rgba(1, 37, 73, 0.981),rgb(42, 127, 239));
    color: white;
  }
  
  .banner1 h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .banner1 p {
    font-size: 18px;
    font-weight: lighter;
  }
  
  /* Food Grid */
  .food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  /* Food Cards */
  .food-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .food-card:hover {
    transform: scale(1.05);
  }
  
  .food-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .food-card h3 {
    margin: 10px 0;
    font-size: 20px;
  }
  
  .food-card p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
    color: grey; /* Deep Purple */
  }
  
  /* Cart Buttons */
  .cart-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .cart-buttons button {
    background-color: grey; /* Dark Purple */
    color: white;
    border: none;
    padding: 5px 12px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    transition: 0.3s;
  }
  
  .cart-buttons button:hover {
    background-color: #7B1FA2;
  }
  
  .cart-buttons span {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Footer */
  .footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
  }
  